server:
  port: 8089
  servlet:
      context-path: /api
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,application/javascript,text/css
    min-response-size: 1024
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: ${SWAGGER_ENABLE:true}
  show-actuator: false
  default-produces-media-type: application/json

spring:
  application:
    name: crm-applications
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  # Docker profile specific config
  #  config:
  #    activate:
  #      on-profile: docker
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost}:${DATABASE_PORT:54323}/${DATABASE_NAME:crm-app}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:crm-bot@123}
    hikari:
      pool-name: Telegram-HikariCP
      maximum-pool-size: ${HIKARI_MAX_POOL:10}
      minimum-idle: ${HIKARI_MIN_IDLE:5}
      connection-timeout: ${HIKARI_CON_TIMEOUT:30000}
      idle-timeout: ${HIKARI_IDLE_TIMEOUT:600000}
      max-lifetime: ${HIKARI_MAX_LIFETIME:1800000}
      keepalive-time: ${HIKARI_KEEP_ALIVE:300000}
      connection-test-query: SELECT 1
      leak-detection-threshold: 60000

  jpa:
    open-in-view: false
    show-sql: ${JPA_SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: ${HIBERNATE_FORMAT_SQL:false}
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
          time_zone: Asia/Phnom_Penh
        order_inserts: true
        order_updates: true
        generate_statistics: false
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO:update}
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    time-zone: Asia/Phnom_Penh
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
      fail-on-empty-beans: false


# OTP Configuration
otp:
  expiry-minutes: 2
  max-attempts: 3
  rate-limit-minutes: 1
  length: 6

sms:
  enabled: false  # Set to true when ready to send real SMS
  provider: TWILIO  # Options: TWILIO, AWS_SNS, VONAGE

  # Actuator for health checks
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,mappings,env
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    startup:
      enabled: true  # Enable startup probe
